<html>
    <head>
        <title>
            Proyecto
        </title>
    </head>
    <head>
        <table border="1">
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Documento</td>
                    <td>Fecha Nacimiento</td>
                    <td>Correo</td>
                    <td>Ciduadad Residencia</td>
                    <td>Ciduadad Origen</td>
                </tr>
            </thead>
            <tbody id="dataResult">
                <!-- Aqui se imprime el resultado -->
            </tbody>
        </table>
    </head>
</html>
<script src="../logica/ProyectoV2.js"></script>