<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">   
    <title>Ejemplo 2</title>
    <link rel="stylesheet" href="../css/General.css">
    <script src="../Logica/Ejemplo2.js"></script>
</head>
<body>
    <table>
        <tr>
            <td>Edad</td>
            <td><input type="number" name="txtEdad" id="txtEdad" value=""></td>
        </tr>
        <tr>
            <td>Genero</td>
            <td><input type="text" name="txtGenero" id="txtGenero" value=""></td>
        </tr>
        <tr>
            <td>Número Pulsaciones</td>
            <td><input type="text" name="txtNumPul" id="txtNumPul" value="" readonly size="30"></td>
        </tr>
        <tr>
            <td>
                <input type="button" value="Calcular" onclick="Ejecutar();">
            </td>
            <td>
                <input type="button" value="Limpiar" onclick="Limpiar();">
            </td>
        </tr>
    </table>
</body>
</html>