<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Inventario</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href=''>
    <script src=''></script>

    <!-- Librería de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <div class="divHead">
            <br>
            <h5 class="card-title">Registro de Inventario</h5>   
            <br>         
        </div>
        <div class="divForm">
            <table class="table">
                <tr class="table-secondary">
                    <td>
                        <label>Código</label>
                    </td>
                    <td>
                        <input type="text" name="codigo" id="codigo" value="">
                    </td>
                </tr>
                <tr class="table-secondary">
                    <td>
                        <label>Fecha</label>
                    </td>
                    <td>
                        <input type="datetime-local" name="fecha" id="fecha" value="">
                    </td>
                </tr>
                <tr class="table-secondary">
                    <td>
                        <label>Stock</label>
                    </td>
                    <td>
                        <input type="number" name="stock" id="stock" value="">
                    </td>
                </tr>
                <tr class="table-secondary">
                    <td>
                        <label>Porcentaje Descuento</label>
                    </td>
                    <td>
                        <input type="number" name="porcentajeDescuento" id="porcentajeDescuento" value="">
                    </td>
                </tr>
                <tr class="table-secondary">
                    <td>
                        <label>Porcentaje Iva</label>
                    </td>
                    <td>
                        <input type="number" name="porcentajeIva" id="porcentajeIva" value="">
                    </td>
                </tr>
            </table>
        </div>
        <div class="divButton">
            <br>
            <input type="button" class="btn btn-success" value="Guardar">
            <br>
        </div>
        <div class="divData">
            <br>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <td>Código</td>
                        <td>Fecha</td>
                        <td>Stock</td>
                        <td>Porcentaje Descuento</td>
                        <td>POrcentaje Iva</td>
                        <td>Editar</td>
                        <td>Elimianr</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1102</td>
                        <td>Chocolate</td>
                        <td>Chocolate jet</td>
                        <td>Dulces</td>
                        <td>
                            <h2>+</h2>
                        </td>
                        <td>
                            <h2>-</h2>
                        </td>
                    </tr>                    
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>